html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: text;

  font-family: 'Helvetica neue';
  font-size: 1vw;
}

p {
  margin:0
}

a {
  cursor: text;
}

#menu1,
#menu2,
#menu3,
#text1,
#text2,
#text3,
#text4 {
  position: absolute;
  font-size: 100%;
}





@media (max-width: 1200px) {
  #menu1{
    font-size: 150%;
  }
  #menu2{
    font-size: 150%;
  }
  #menu3{
    font-size: 150%;
  }
  
  #text1{
    font-size: 150%;
  }
  #text2{
    font-size: 150%;
  }
  #text3{
    font-size: 150%;
  }
  #text4{
    font-size: 150%;
  }
}

@media (max-width: 800px) {
  #menu1{
    font-size: 200%;
  }
  #menu2{
    font-size: 200%;
  }
  #menu3{
    font-size: 200%;
  }
  
  #text1{
    font-size: 200%;
  }
  #text2{
    font-size: 200%;
  }
  #text3{
    font-size: 200%;
  }
  #text4{
    font-size: 200%;
  }
}