.col-1 {
  width: 8.33%
}

.col-2 {
  width: 16.66%
}

.col-3 {
  width: 25%
}

.col-4 {
  width: 33.33%
}

.col-5 {
  width: 41.66%
}

.col-6 {
  width: 50%
}

.col-7 {
  width: 58.33%
}

.col-8 {
  width: 66.66%
}

.col-9 {
  width: 75%
}

.col-10 {
  width: 83.33%
}

.col-11 {
  width: 91.66%
}

.col-12 {
  width: 100%
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: text;

  font-family: 'Helvetica neue';
  font-size: 100%;
  text-transform: uppercase;
}

a {
  cursor: text;
  color: #0000FC;
}

#space {
  visibility: hidden;
}

#name {
  position: absolute;
  top: 8.33%;
  left: 8.33%;

  color: #0000FC;
  text-decoration: underline;
}

#name:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}

#italic {
  font-style: italic;
}





#about {
  display: none;

  position: absolute;
  top: 25%;
  left: 25%;

  color: #0000FC;
  text-align: justify;
}

#about:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}


#profile {
  display: block;

  position: absolute;
  top: 25%;
  left: 25%;
  width: 33.33%;

  color: #0000FC;
  text-align: justify;
}

#education {
  display: block;

  position: absolute;
  top: 50%;
  left: 25%;
  width: 33.33%;

  color: #0000FC;
  text-align: justify;
}

#professional {
  display: block;

  position: absolute;
  top: 75%;
  left: 25%;
  width: 33.33%;

  color: #0000FC;
  text-align: justify;
}

#job {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}

#job:hover {
  color: #ffffff;
  text-decoration: underline;
}

#school {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}

#school:hover {
  color: #ffffff;
  text-decoration: underline;
}

#highlight:hover {
  background-color: #0000FC;
  color: #ffffff;
}





#works {
  display: none;

  position: absolute;
  top: 33.33%;
  left: 25%;

  color: #0000FC;
  text-decoration: underline;
}

#works:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}


#projectsSection {
  display: none;

  position: absolute;
  top: 41.66%;
  left: 41.66%;

  color: #0000FC;
}

#projectsSection:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}

#experimentsSection {
  display: none;

  position: absolute;
  top: 45.82%;
  left: 41.66%;

  color: #0000FC;
}

#experimentsSection:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}





#contacts {
  display: none;

  position: absolute;
  top: 41.66%;
  left: 25%;

  color: #0000FC;
  text-decoration: underline;
}

#contacts:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}


#email {
  display: none;

  position: absolute;
  top: 50%;
  left: 58.33%;

  color: #0000FC;
}

#email:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}

#phone {
  display: none;

  position: absolute;
  top: 54.16%;
  left: 58.33%;

  color: #0000FC;
}

#phone:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}

#instagram {
  display: none;

  position: absolute;
  top: 58.33%;
  left: 58.33%;

  color: #0000FC;
}

#instagram:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}










table {
  table-layout: fixed;
  width: 66.33%;

  color: #0000FC;
}

tr,
td {
  vertical-align: top;
  padding: 5px;
}

#projects {
  position: absolute;
  top: 25%;
  left: 25%;
}

#team {
  color: #0000FC;
}

#team:hover {
  background-color: #0000FC;
  color: #ffffff;
}

#projectName {
  color: #0000FC;
}

#projectName:hover {
  background-color: #0000FC;
  color: #ffffff;
}










#projectPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;

  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 16.66%;
  left: 8.33%;

  height: 75%;
  width: 83.66%;

  z-index: 0;
}

#projectPage::-webkit-scrollbar {
  display: none;
}


#infos {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 2;

  color: #000000;
}

#infoLines {
  color: #000000;
  text-align: justify;
}

#infoLines:hover {
  background-color: #000000;
  color: #ffffff;
}

#mainPicture {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 2;
  grid-column-end: 5;

  grid-row-start: 1;
  grid-row-end: 2;

  width: 100%;

  border: 2px solid;
}

#abstract {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 5%;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 3;
  grid-row-end: 4;

  font-size: 2vw;
  text-align: justify;
  line-height: 100%;

}

#quote {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5%;

  font-size: 1.5vw;
  font-style: italic;
  text-align:justify;
  line-height: 100%;
}

#embeddedVideo {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 100%;
  height: 35vw;
}

#previousProject {
  margin-top: 2%;
  margin-bottom: 5%;
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 15;
  grid-row-end: 16;

  text-align: left;
}

#projectsList {
  margin-top: 2%;
  margin-bottom: 5%;
  grid-column-start: 2;
  grid-column-end: 4;

  grid-row-start: 15;
  grid-row-end: 16;

  text-align: center;
}

#nextProject {
  margin-top: 2%;
  margin-bottom: 5%;
  grid-column-start: 4;
  grid-column-end: 5;

  grid-row-start: 15;
  grid-row-end: 16;

  text-align: right;
}




#media1 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 4;
  grid-row-end: 5;

  width: 100%;

  border: 2px solid;
}

#media3 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 5;
  grid-row-end: 6;

  width: 100%;

  border: 2px solid;
}

#media5 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 6;
  grid-row-end: 7;

  width: 100%;

  border: 2px solid;
}

#media7 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 7;
  grid-row-end: 8;

  width: 100%;

  border: 2px solid;
}

#media9 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 8;
  grid-row-end: 9;

  width: 100%;

  border: 2px solid;
}

#media11 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 9;
  grid-row-end: 10;

  width: 100%;

  border: 2px solid;
}

#media13 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 10;
  grid-row-end: 11;

  width: 100%;

  border: 2px solid;
}

#media15 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 11;
  grid-row-end: 12;

  width: 100%;

  border: 2px solid;
}

#media17 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 12;
  grid-row-end: 13;

  width: 100%;

  border: 2px solid;
}

#media19 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 13;
  grid-row-end: 14;

  width: 100%;

  border: 2px solid;
}

#media21 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 14;
  grid-row-end: 15;

  width: 100%;

  border: 2px solid;
}





#media2 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 4;
  grid-row-end: 5;

  width: 100%;

  border: 2px solid;
}

#media4 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 5;
  grid-row-end: 6;

  width: 100%;

  border: 2px solid;
}

#media6 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 6;
  grid-row-end: 7;

  width: 100%;

  border: 2px solid;
}

#media8 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 7;
  grid-row-end: 8;

  width: 100%;

  border: 2px solid;
}

#media10 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 8;
  grid-row-end: 9;

  width: 100%;

  border: 2px solid;
}

#media12 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 9;
  grid-row-end: 10;

  width: 100%;

  border: 2px solid;
}

#media14 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 10;
  grid-row-end: 11;

  width: 100%;

  border: 2px solid;
}

#media16 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 11;
  grid-row-end: 12;

  width: 100%;

  border: 2px solid;
}

#media18 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 12;
  grid-row-end: 13;

  width: 100%;

  border: 2px solid;
}

#media20 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 13;
  grid-row-end: 14;

  width: 100%;

  border: 2px solid;
}

#media22 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 14;
  grid-row-end: 15;

  width: 100%;

  border: 2px solid;
}

#media24 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 15;
  grid-row-end: 16;

  width: 100%;

  border: 2px solid;
}





#medialarge1 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 4;
  grid-row-end: 5;

  width: 100%;
}

#medialarge2 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 5;
  grid-row-end: 6;

  width: 100%;
}

#medialarge3 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 6;
  grid-row-end: 7;

  width: 100%;
}

#medialarge4 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 7;
  grid-row-end: 8;

  width: 100%;
}

#medialarge5 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 8;
  grid-row-end: 9;

  width: 100%;
}

#medialarge6 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 9;
  grid-row-end: 10;

  width: 100%;
}

#medialarge7 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 10;
  grid-row-end: 11;

  width: 100%;
}

#medialarge8 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 11;
  grid-row-end: 12;

  width: 100%;
}

#medialarge9 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 12;
  grid-row-end: 13;

  width: 100%;
}

#medialarge10 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 13;
  grid-row-end: 14;

  width: 100%;
}

#medialarge11 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 14;
  grid-row-end: 15;

  width: 100%;
}

#medialarge12 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 15;
  grid-row-end: 16;

  width: 100%;
}








@media (max-width: 768px) {

  body {
    font-size: 3vw;
  }

  #responsive {
    display: none;
  }

  #profile {
    width: 50%;
  }

  #education {
    top: 41.66%;
    width: 50%;
  }

  #professional {
    top: 70.82%;
    width: 50%;
  }

  table {
    width: 83.33%;
  }

  #projects {
    left: 8.33%;
  }

  #projectPage {
    top: 15.66%;
  }
  
  #infos {
    grid-column-start: 1;
    grid-column-end: 5;
  
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  #mainPicture {
    grid-column-start: 1;
    grid-column-end: 5;
  
    grid-row-start: 2;
    grid-row-end: 3;
  
    width: 100%;
  
    border: 2px solid;
  }
  
  #abstract {  
    grid-column-start: 1;
    grid-column-end: 5;
  
    grid-row-start: 3;
    grid-row-end: 4;

    font-size: 3vw;
  }
  
  #quote {  
    font-size: 3vw;
  }
  
  #embeddedVideo {
    width: 100%;
    height: 35vw;
  }
}