html,
body {
  display: flex;

  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: text;

  font-family: 'Helvetica neue';
  font-size: 100%;
  text-transform: uppercase;
  text-align: justify;
}

a {
  cursor: text;
  color: #0000FC;
}

#space {
  visibility: hidden;
}

#name {
  position: absolute;
  top: 5vw;
  left: 5vw;

  color: #0000FC;
  text-decoration: underline;
}

#name:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}

#italic {
  font-style: italic;
}

#bold {
  color: #ffffff;
  background-color: #000000;
}

#underline {
  text-decoration: underline;
}





#about {
  display: none;

  position: absolute;
  top: 25vh;
  left: 25vw;

  color: #0000FC;
  text-align: justify;
}

#about:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}


#profile {
  display: block;
  overflow: auto;

  position: absolute;
  top: 20vh;
  height: 65vh;
  left: 20vw;
  width: 60vw;

  color: #0000FC;
  text-align: justify;
  align-content:center;
  text-indent: 5vw;
}

#education {
  padding-left: 15vw; 
}

#professional {
  padding-left: 10vw
}

#job {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}

#job:hover {
  color: #ffffff;
  text-decoration: underline;
}

#school {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}

#school:hover {
  color: #ffffff;
  text-decoration: underline;
}

#highlight:hover {
  background-color: #0000FC;
  color: #ffffff;
}





#works {
  display: none;

  position: absolute;
  top: 35vh;
  left: 25vw;

  color: #0000FC;
  text-decoration: underline;
}

#works:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}


#projectsSection {
  display: none;

  position: absolute;
  top: 45vh;
  left: 50vw;

  color: #0000FC;
}

#projectsSection:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}

#experimentsSection {
  display: none;

  position: absolute;
  top: 50vh;
  left: 50vw;

  color: #0000FC;
}

#experimentsSection:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}





#contacts {
  display: none;

  position: absolute;
  top: 45vh;
  left: 25vw;

  color: #0000FC;
  text-decoration: underline;
}

#contacts:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}


#email {
  display: none;

  position: absolute;
  top: 70vh;
  left: 50vw;

  color: #0000FC;
}

#email:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}

#phone {
  display: none;

  position: absolute;
  top: 75vh;
  left: 50vw;

  color: #0000FC;
}

#phone:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}

#instagram {
  display: none;

  position: absolute;
  top: 80vh;
  left: 50vw;

  color: #0000FC;
}

#instagram:hover {
  background-color: #0000FC;
  color: #ffffff;
  text-decoration: underline;
}










table {
  table-layout: fixed;
  width: 90vw;

  color: #0000FC;
}

tr,
td {
  vertical-align: top;
  padding: 5px;
}

#projects {
  position: absolute;
  top: 25vh;
  left: 10vw;
}

#team {
  color: #0000FC;
}

#team:hover {
  background-color: #0000FC;
  color: #ffffff;
}

#projectName {
  color: #0000FC;
}

#projectName:hover {
  background-color: #0000FC;
  color: #ffffff;
}










#projectPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;

  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 15vh;
  left: 10vw;

  height: 75vh;
  width: 80vw;

  z-index: 0;
}

#projectPage::-webkit-scrollbar {
  display: none;
}


#infos {
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 2;

  color: #000000;
}

#infoLines {
  color: #000000;
  text-align: justify;
}

#infoLines:hover {
  background-color: #000000;
  color: #ffffff;
}

#backgroundImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 75%;
}

#mainPicture {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 2;
  grid-column-end: 5;

  grid-row-start: 1;
  grid-row-end: 2;

  width: 100%;

  border: 2px solid;
}

#abstract {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5%;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 3;
  grid-row-end: 4;

  font-size: 200%;
  text-align: justify;
  line-height: 100%;
  text-indent: 5vw;
}

#quote {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5vw;

  font-size: 150%;
  font-style: italic;
  text-align:justify;
  line-height: 100%;
}

#text {
  border: none;
}

#embeddedVideo {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 100%;
  height: 75vh;

  border: 2px solid;
}

#previousProject {
  width: 30vw;
  position: absolute;
  top: 95vh;
  left: 5vw;
  text-align: left;
}

#projectsList {
  width: 30vw;
  position: absolute;
  top: 95vh;
  left: 30vw;
  text-align: center;
}

#nextProject {
  width: 30vw;
  position: absolute;
  top: 95vh;
  left: 65vw;
  text-align: right;
}




#media1 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 4;
  grid-row-end: 5;

  width: 100%;

  border: 2px solid;
}

#media3 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 5;
  grid-row-end: 6;

  width: 100%;

  border: 2px solid;
}

#media5 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 6;
  grid-row-end: 7;

  width: 100%;

  border: 2px solid;
}

#media7 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 7;
  grid-row-end: 8;

  width: 100%;

  border: 2px solid;
}

#media9 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 8;
  grid-row-end: 9;

  width: 100%;

  border: 2px solid;
}

#media11 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 9;
  grid-row-end: 10;

  width: 100%;

  border: 2px solid;
}

#media13 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 10;
  grid-row-end: 11;

  width: 100%;

  border: 2px solid;
}

#media15 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 11;
  grid-row-end: 12;

  width: 100%;

  border: 2px solid;
}

#media17 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 12;
  grid-row-end: 13;

  width: 100%;

  border: 2px solid;
}

#media19 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 13;
  grid-row-end: 14;

  width: 100%;

  border: 2px solid;
}

#media21 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 14;
  grid-row-end: 15;

  width: 100%;

  border: 2px solid;
}

#media23 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 15;
  grid-row-end: 16;

  width: 100%;

  border: 2px solid;
}

#media25 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 16;
  grid-row-end: 17;

  width: 100%;

  border: 2px solid;
}

#media27 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 17;
  grid-row-end: 18;

  width: 100%;

  border: 2px solid;
}

#media29 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 18;
  grid-row-end: 19;

  width: 100%;

  border: 2px solid;
}

#media31 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 19;
  grid-row-end: 20;

  width: 100%;

  border: 2px solid;
}





#media2 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 4;
  grid-row-end: 5;

  width: 100%;

  border: 2px solid;
}

#media4 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 5;
  grid-row-end: 6;

  width: 100%;

  border: 2px solid;
}

#media6 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 6;
  grid-row-end: 7;

  width: 100%;

  border: 2px solid;
}

#media8 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 7;
  grid-row-end: 8;

  width: 100%;

  border: 2px solid;
}

#media10 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 8;
  grid-row-end: 9;

  width: 100%;

  border: 2px solid;
}

#media12 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 9;
  grid-row-end: 10;

  width: 100%;

  border: 2px solid;
}

#media14 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 10;
  grid-row-end: 11;

  width: 100%;

  border: 2px solid;
}

#media16 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 11;
  grid-row-end: 12;

  width: 100%;

  border: 2px solid;
}

#media18 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 12;
  grid-row-end: 13;

  width: 100%;

  border: 2px solid;
}

#media20 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 13;
  grid-row-end: 14;

  width: 100%;

  border: 2px solid;
}

#media22 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 14;
  grid-row-end: 15;

  width: 100%;

  border: 2px solid;
}

#media24 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 15;
  grid-row-end: 16;

  width: 100%;

  border: 2px solid;
}

#media26 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 16;
  grid-row-end: 17;

  width: 100%;

  border: 2px solid;
}

#media28 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 17;
  grid-row-end: 18;

  width: 100%;

  border: 2px solid;
}

#media30 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 18;
  grid-row-end: 19;

  width: 100%;

  border: 2px solid;
}

#media32 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 3;
  grid-column-end: 5;

  grid-row-start: 19;
  grid-row-end: 20;

  width: 100%;

  border: 2px solid;
}





#medialarge1 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 4;
  grid-row-end: 5;

  width: 100%;
}

#medialarge2 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 5;
  grid-row-end: 6;

  width: 100%;
}

#medialarge3 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 6;
  grid-row-end: 7;

  width: 100%;
}

#medialarge4 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 7;
  grid-row-end: 8;

  width: 100%;
}

#medialarge5 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 8;
  grid-row-end: 9;

  width: 100%;
}

#medialarge6 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 9;
  grid-row-end: 10;

  width: 100%;
}

#medialarge7 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 10;
  grid-row-end: 11;

  width: 100%;
}

#medialarge8 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 11;
  grid-row-end: 12;

  width: 100%;
}

#medialarge9 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 12;
  grid-row-end: 13;

  width: 100%;
}

#medialarge10 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 13;
  grid-row-end: 14;

  width: 100%;
}

#medialarge11 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 14;
  grid-row-end: 15;

  width: 100%;
}

#medialarge12 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 15;
  grid-row-end: 16;

  width: 100%;
}

#medialarge13 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 16;
  grid-row-end: 17;

  width: 100%;
}

#medialarge14 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 17;
  grid-row-end: 18;

  width: 100%;
}

#medialarge15 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 18;
  grid-row-end: 19;

  width: 100%;
}

#medialarge16 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-column-start: 1;
  grid-column-end: 5;

  grid-row-start: 19;
  grid-row-end: 20;

  width: 100%;
}









@media (max-width: 1000px) {

  body {
    font-size: 70%;
  }

  #responsive {
    display: none;
  }

  #profile {
    top: 10vh;
    height: 80vh;
    left: 5vw;
    width: 90vw;
  }

  #education {
    padding-left: 0vw;
  }

  #professional {
    padding-left: 0vw;
  }

  table {
    width: 90vw;
  }

  #projects {
    left: 5vw;
  }

  #projectPage {
    top: 10vh;
    height: 80vh;
  }
  
  #backgroundImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    height: 50%;
  }

  #infos {
    grid-column-start: 1;
    grid-column-end: 5;
  
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  #mainPicture {
    grid-column-start: 1;
    grid-column-end: 5;
  
    grid-row-start: 2;
    grid-row-end: 3;
  
    width: 100%;
  
    border: 2px solid;
  }
  
  #abstract {  
    grid-column-start: 1;
    grid-column-end: 5;
  
    grid-row-start: 3;
    grid-row-end: 4;

    font-size: 120%;
  }
  
  #quote {  
    font-size: 80%;
  }
  
  #embeddedVideo {
    width: 100%;
    height: 20vh;
  }
}